html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    margin: 15% auto;
    padding: 20px;
    min-height: 500px;
    max-width: 500px;
    background-image: url("https://www.tellermate.com/us/wp-content/uploads/sites/8/2020/05/Cash-US-1024x512.jpg");
    background-size: cover;
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
}

.header__title {
    margin: 30px auto;
    padding: 20px;
    background-color: teal;
    box-shadow: 0px 0px 5px 2px teal;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.form__fieldset {
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px 2px teal;
    border-radius: 10px;
    border: 3px solid teal;
}

.form__legend {
    padding: 10px;
    background-color: teal;
    box-shadow: 0px 0px 5px 2px teal;
    color: #fff;
    border-radius: 10px;
}

.form__labelText {
    display: inline-block;
    width: 200px;
}

.form__labelText--asterisk {
    color: #dc143c;
    font-size: 20px;
}

.form__labelText--italic {
    display: inline;
    text-align: justify;
    font-style: italic;
}

.form__select {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.form__input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.form__input--readonly {
    background-color: #ccc;
}

.form__button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    background-color: teal;
    box-shadow: 0px 0px 5px 2px teal;
    color: #fff;
    border-style: none;
    border-radius: 10px;
}

.form__button:hover {
    background-color: rgb(32, 167, 167);
}

.form__button:active {
    outline: 2px dotted #000;
    background-color: rgb(92, 201, 201);
}

.footer {
    margin: 100px auto;
    padding: 10px;
    width: 50%;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-style: italic;
}